/*
Theme Name: Me + My V
Theme URI: https://meandmyv.com
Description: Me + My V theme
Author: Me + My V
Author URI: https://meandmyv.com
Template: salient
Version: 0.1
*/

/*Firefox Padding Issue, workaround is to use viewport width parameter*/
.wpb_row .span_12 > .col.padding-1-percent, .column-inner.padding-1-percent { padding: 1vw !important; }
.wpb_row .span_12 > .col.padding-2-percent, .column-inner.padding-2-percent { padding: 2vw !important;  }
.wpb_row .span_12 > .col.padding-3-percent, .column-inner.padding-3-percent { padding: 3vw !important;  }
.wpb_row .span_12 > .col.padding-4-percent, .column-inner.padding-4-percent { padding: 4vw !important;  }
.wpb_row .span_12 > .col.padding-5-percent, .column-inner.padding-5-percent { padding: 5vw !important;  }
.wpb_row .span_12 > .col.padding-6-percent, .column-inner.padding-6-percent { padding: 6vw !important;  }
.wpb_row .span_12 > .col.padding-7-percent, .column-inner.padding-7-percent { padding: 7vw !important;  }
.wpb_row .span_12 > .col.padding-8-percent, .column-inner.padding-8-percent { padding: 8vw !important; }
.wpb_row .span_12 > .col.padding-9-percent, .column-inner.padding-9-percent { padding: 9vw !important; }
.wpb_row .span_12 > .col.padding-10-percent, .column-inner.padding-10-percent { padding: 10vw !important; }
.wpb_row .span_12 > .col.padding-11-percent, .column-inner.padding-11-percent { padding: 11vw !important; }
.wpb_row .span_12 > .col.padding-12-percent, .column-inner.padding-12-percent { padding: 12vw !important; }
.wpb_row .span_12 > .col.padding-13-percent, .column-inner.padding-13-percent { padding: 13vw !important; }
.wpb_row .span_12 > .col.padding-14-percent, .column-inner.padding-14-percent { padding: 14vw !important; }
.wpb_row .span_12 > .col.padding-15-percent, .column-inner.padding-15-percent { padding: 15vw !important; }

.mmv-contact-body .wpb_row .span_12 > .col.padding-10-percent[data-padding-pos="all"] { padding: 10vw !important; }


/******************************************************
*******************************************************
******************* GENERAL STYLING *******************
*******************************************************
*******************************************************/

body {
  webkit-font-smoothing: none !important;
}

body p {
  /*-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;*/
  font-family: "merriweather", serif !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 100 !important;
  letter-spacing: 0.1px !important;
  line-height: 30px !important;
  text-transform: none !important;
  /*color: #232323 !important;*/
}

body em {
  font-family: "merriweather", serif !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 100 !important;
  letter-spacing: 0.1px !important;
  line-height: 30px !important;
  text-transform: none !important;
  color: #232323 !important;
}

.bold, strong, b {
  font-family: "merriweather", serif !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  letter-spacing: 0.1px !important;
  line-height: 30px !important;
  text-transform: none !important;
  color: #232323 !important;
}

body h2 {
  text-transform: uppercase !important;
  font-family: "futura-pt", sans-serif !important;
  font-size: 60px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  letter-spacing: 6px !important;
  line-height: 68px !important;
  text-transform: none !important;
}

body h3 {
  text-transform: uppercase !important;
  font-family: "futura-pt", sans-serif !important;
  font-size: 30px !important;
  font-style: normal !important;
  font-weight: 300 !important;
  letter-spacing: 0.3px !important;
  line-height: 38px !important;
  text-transform: none !important;
  text-transform: uppercase !important;
}

body h4 {
  text-transform: uppercase !important;
  font-family: "futura-pt", sans-serif !important;
  font-size: 30px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  letter-spacing: 0.3px !important;
  line-height: 38px !important;
  text-transform: none !important;
  text-transform: uppercase !important;
}

body h6 {
  font-family: "merriweather", serif !important;
  font-size: 12px !important;
  font-style: normal !important;
  font-weight: 100 !important;
  letter-spacing: 0.1px !important;
  line-height: 26px !important;
  text-transform: none !important;
}

/*body h3, .row .col h3, .toggle h3 a, .ascend #respond h3 {
  font-family: "freight-big-pro",serif !important;
  text-transform: none !important;
  letter-spacing: 1px !important;
  font-weight: 400 !important;
  font-size: 50px !important;
  line-height: 56px !important;
}


@media screen and (max-width: 576px) {
  body h3, .row .col h3, .toggle h3 a, .ascend #respond h3 {
    font-family: "freight-big-pro",serif !important;
    text-transform: none !important;
    letter-spacing: 1px !important;
    font-weight: 400 !important;
    font-size: 40px !important;
    line-height: 46px !important;
  }
}*/


/*body h6 {
  font-family: "futura-pt",sans-serif !important;
  font-size: 15px !important;
  line-height: 16px !important;
  font-weight: 400 !important;
  text-transform: none !important;
}*/

ol li,
.main-content ol li {
  font-family: "merriweather", serif !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 100 !important;
  letter-spacing: normal !important;
  line-height: 30px !important;
  text-transform: none !important;
  list-style-position: outside !important;
}

ul li,
.main-content ul li   {
  font-family: "merriweather", serif !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 100 !important;
  letter-spacing: normal !important;
  line-height: 30px !important;
  text-transform: none !important;
  list-style-position: outside !important;
  list-style-type: circle !important;
}

/*ul li,
.main-content ul li   {
  font-family: "merriweather", serif !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 100 !important;
  letter-spacing: normal !important;
  line-height: 30px !important;
  text-transform: none !important;
  list-style-position: outside !important;
}
*/
@media screen and (max-width: 576px) {
  body h2 {
    font-family: "freight-big-pro",serif !important;
    font-size: 60px !important;
    line-height: 66px !important;
    font-weight: 400 !important;
    text-transform: none !important;
  }
}


header#top nav > ul > li > a {
  text-transform: uppercase !important;
  letter-spacing: 3px !important;
  font-size: 14px !important;
  line-height: 19.6px !important;
  font-weight: 500 !important;
}

.blog-recent[data-style="minimal"] .col > span {
  font-family: "futura-pt",sans-serif !important;
}

/********** MMV MAIN BODY CLASESS**********/


.mmv-home-body .container-wrap {
  padding-bottom:0px !important;
}

.mmv-about-body .container-wrap {
  padding-bottom: 0px !important;
}
.mmv-about-body .wpb_row {
  margin-bottom:0px !important;
}

.mmv-about-body .container-wrap .row >.wpb_row:last-child {
  margin-bottom:0px !important;
}

.mmv-story-body .container-wrap {
  padding-bottom:0px !important;
}

.mmv-contact-body .container-wrap {
  padding-bottom:0px !important;
}


/* BUTTON*/


.nectar-button.see-through-2,
.nectar-button.large.see-through-2,
.nectar-button[data-color-override="false"].regular-button {
  font-family: "futura-pt",sans-serif !important;
  text-transform: uppercase !important;
  letter-spacing: 1px !important;
  color: #ffffff !important;
  border-radius: 0px !important;
  padding-top:13px !important;
  padding-bottom:13px !important;
  font-size: 16px !important;
  letter-spacing:1px !important;
  border:2px #8a326c solid !important;
  background-color: #8a326c !important;
  font-weight: 500 !important;
}

.nectar-button.see-through-2:hover,
.nectar-button.large.see-through-2:hover,
.nectar-button[data-color-override="false"].regular-button:hover {
  color: #8a326c !important;
  background-color: transparent !important;
}

body[data-button-style*="slightly_rounded"] .nectar-button.see-through-2,
body[data-button-style*="slightly_rounded"].ascend .nectar-button.see-through-2,
body[data-button-style*="slightly_rounded"] .nectar-button {
  border-radius: 0px !important;
}


 #slide-out-widget-area.fullscreen .inner .off-canvas-menu-container li a {
  font-family: "freight-big-pro",serif !important;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
 }


 /********** MMV SUBSCRIBE**********/

 .mmv-subscribe {
 }

 body[data-form-style="minimal"] .minimal-form-input label span.text .text-inner,
 body[data-form-style="minimal"] .minimal-form-input.has-text input {
   font-family: "futura-pt",sans-serif !important;
   font-weight: 500 !important;
 }

 body[data-button-style*="slightly_rounded"] input[type=submit],
 body[data-button-style*="slightly_rounded"].ascend .container-wrap input[type="submit"] {
   font-family: "futura-pt",sans-serif !important;
   text-transform: uppercase !important;
   letter-spacing: 1px !important;
   color: #ffffff !important;
   border-radius: 0px !important;
   padding-top:13px !important;
   padding-bottom:13px !important;
   font-size: 16px !important;
   letter-spacing:1px !important;
   border:2px #8a326c solid !important;
   background-color: #8a326c !important;
   font-weight: 500 !important;
 }

 body[data-button-style*="slightly_rounded"] input[type=submit]:hover,
 body[data-button-style*="slightly_rounded"].ascend .container-wrap input[type="submit"]:hover {
   color: #8a326c !important;
   background-color: transparent !important;
 }

 .mmv-subscribe-button {
   text-align: center !important;
   margin-top:50px !important;
 }

 .mmv-subscribe h2 {
   font-family: "futura-pt-condensed",sans-serif !important;
   text-transform: uppercase !important;
   font-family: "futura-pt", sans-serif !important;
   font-size: 60px !important;
   font-style: normal !important;
   font-weight: 600 !important;
   letter-spacing: 0px !important;
   line-height: 68px !important;
   text-transform: none !important;
 }

 /* SUBSCRIBE ERROR */

 .wpcf7 .wpcf7-response-output,
 .wpcf7-validation-errors {
   margin-left:-20px !important;
   margin-right:-20px !important;
   font-family: "futura-pt",sans-serif !important;
 }

 /* MEDIA QUERY */


 @media screen and (max-width: 1000px) {
   .mmv-subscribe {
     padding-top:80px !important;
     padding-bottom:80px !important;
   }
 }

 @media screen and (max-width: 576px) {
   .mmv-subscribe {
     padding-top:40px !important;
   }

   .mmv-subscribe h4 {
     font-family: "freight-big-pro",serif !important;
     font-size: 60px !important;
     line-height: 66px !important;
     font-weight: 400 !important;
     text-transform: none !important;
   }
 }


/********** MMV FOOTER**********/


#footer-outer #footer-widgets .col ul li:last-child {
  padding-right:0px !important;
}

#footer-outer #footer-widgets {
  padding-top:20px !important;
  padding-bottom:20px !important;
}

#menu-mmv-menu-1 li {
  display: inline-block !important;
}

.ascend #footer-outer .widget.widget_nav_menu li {
  padding: 0 !important;
}

#footer-outer #footer-widgets .col ul li {
  padding-right:20px !important;
  font-family: "futura-pt",sans-serif !important;
  text-transform: uppercase !important;
  letter-spacing: 4px !important;
  font-weight: 500 !important;
  font-size: 14px !important;
}

#footer-outer #footer-widgets .col ul li.menu-item-1697 {
  padding-right:0px !important;
}

#footer-outer #copyright p {
    color: #f2f2f2 !important;
    font-family: "futura-pt",sans-serif !important;
    font-size: 14px !important;
}


/********** MMV HOME PAGE**********/

.mmv-about-home {
  text-align:left !important;
}

.blog-recent[data-style="minimal"] .col a {
  font-family: "futura-pt",sans-serif !important;
}





/********** MMV STORY, ARCHIVE **********/


body.archive .container-wrap, body[data-bg-header="true"].category .container-wrap {
  background: #f2f2f2 !important;
}

body #page-header-bg .span_6 span.subheader {
  font-family: "freight-big-pro",serif !important;
  font-size: 20px;
  line-height: 40px;
  font-weight: 400;
}

#page-header-bg .span_6 h1 {
  font-family: "freight-big-pro",serif !important;
}

.masonry.classic_enhanced .masonry-blog-item .inner-wrap,
.archive .masonry.classic_enhanced .masonry-blog-item .inner-wrap,
.mmv-story .masonry.classic_enhanced .masonry-blog-item .inner-wrap {
  box-shadow: 0px 3px 3px rgba(234,234,234,0.5), 0 3px 3px rgba(234,234,234,0.5) !important;
  border-radius: 0px !important;
  border:1px #f2f2f2 solid !important;
}

.masonry.classic_enhanced .post-header {
  font-family: "futura-pt",sans-serif !important;
  font-weight: 700 !important;
  font-size: 14px !important;
}

.masonry.classic_enhanced .masonry-blog-item h3.title,
.archive .masonry.classic_enhanced .masonry-blog-item h3.title,
.mmv-story .archive.masonry.classic_enhanced .masonry-blog-item h3.title {
  font-family: "freight-big-pro",serif !important;
  padding-left: 15px !important;
  border-left: 5px solid #8a326c !important;
  font-weight: 700 !important;
  text-transform: none !important;
  font-size: 35px !important;
  line-height: 35px !important;
  letter-spacing: 1px;
}

.masonry.classic_enhanced .masonry-blog-item.large_featured h3.title,
.archive .masonry.classic_enhanced .masonry-blog-item.large_featured h3.title,
.mmv-story .masonry.classic_enhanced .masonry-blog-item.large_featured h3.title {
  font-family: "freight-big-pro",serif !important;
  font-weight: 700 !important;
  font-size: 35px !important;
  line-height: 35px !important;
  letter-spacing: 1px;
}

.masonry.classic_enhanced .masonry-blog-item.large_featured h3.title,
.archive .masonry.classic_enhanced .masonry-blog-item.large_featured h3.title,
.mmv-story .masonry.classic_enhanced .masonry-blog-item.large_featured h3.title  {
  font-size: 35px !important;
  line-height: 35px !important;
}

.mmv-story #post-area.masonry.classic_enhanced article.post.large_featured .post-featured-img::after {
   content: "" !important;
   position:absolute !important;
   width: 400px !important;
   height: 400px !important;
   background: rgba(138, 50, 108, 0.5) !important;
   z-index:999 !important;
   top:50% !important;
   left:50% !important;
   visibility: visible;
   -moz-border-radius: 200px !important;
   -webkit-border-radius: 200px !important;
   border-radius: 200px !important;
   margin-top:-200px !important;
   margin-left:-200px !important;
}

.masonry.classic_enhanced .posts-container article .meta-category a.sweet-16,
.archive .masonry.classic_enhanced .posts-container article .meta-category a.sweet-16,
.mmv-story .masonry.classic_enhanced .posts-container article .meta-category a.sweet-16 {
  font-family: "futura-pt",sans-serif !important;
  text-transform: capitalize !important;
  letter-spacing:0 !important;
  font-size:16px !important;
  font-weight: 700 !important;
  color: #8a326c !important;
  border: 2px solid #8a326c !important;
  border-radius: 0px !important;
  background:#f2f2f2 !important;
}

.masonry.classic_enhanced .posts-container article .meta-category a.savvy-33,
.archive .masonry.classic_enhanced .posts-container article .meta-category a.savvy-33,
.mmv-story .masonry.classic_enhanced .posts-container article .meta-category a.savvy-33 {
  font-family: "futura-pt",sans-serif !important;
  text-transform: capitalize !important;
  letter-spacing:0 !important;
  font-size:16px !important;
  font-weight: 700 !important;
  color: #8a326c !important;
  border: 2px solid #8a326c !important;
  border-radius: 0px !important;
  background:#f2f2f2 !important;
}


.masonry.classic_enhanced .posts-container article .meta-category a.sweet-16:hover,
.archive .masonry.classic_enhanced .posts-container article .meta-category a.sweet-16:hover,
.mmv-story .masonry.classic_enhanced .posts-container article .meta-category a.sweet-16:hover {
  font-family: "futura-pt",sans-serif !important;
  text-transform: capitalize !important;
  letter-spacing:0 !important;
  font-size:16px !important;
  font-weight: 700 !important;
  color: #f2f2f2 !important;
  border: 2px solid rgba(138,50,108,0.5) !important;
  border-radius: 0px !important;
  background:#8a326c !important;
}

.masonry.classic_enhanced .posts-container article .meta-category a.savvy-33:hover,
.archive .masonry.classic_enhanced .posts-container article .meta-category a.savvy-33:hover,
.mmv-story .masonry.classic_enhanced .posts-container article .meta-category a.savvy-33:hover {
  font-family: "futura-pt",sans-serif !important;
  text-transform: capitalize !important;
  letter-spacing:0 !important;
  font-size:16px !important;
  font-weight: 700 !important;
  color: #f2f2f2 !important;
  border: 2px solid rgba(138,50,108,0.5) !important;
  border-radius: 0px !important;
  background:#8a326c !important;
}

.masonry.classic_enhanced .posts-container article .meta-category a.sweet-16:hover {
  color: #ffffff !important;
  background:#8a326c !important;
}

#post-area.masonry.classic_enhanced article.post .post-meta .meta-comment-count {
  visibility:hidden !important;
  display:hidden !important;
}

#post-area.masonry.classic_enhanced article.post .post-meta .nectar-love-wrap {
  visibility:hidden !important;
  display:hidden !important;
}


/******************************************************
*******************************************************
************* INDIVIDUAL PAGES STYLING ****************
*******************************************************
*******************************************************/


/******************************************************

******************** HOME  PAGE ***********************

*******************************************************/


/********** MMV HERO PICTURE **********/


.mmv-home-body #page-header-bg .span_6 h1 {
  font-family: "freight-big-pro",serif !important;
  text-shadow:0px 2px 2px rgba(0, 0, 0, 0.51) !important;
  text-transform: none !important;
  letter-spacing: 5px !important;
  font-size: 100px !important;
  line-height: 100px !important;
  font-weight: 700 !important;
}

.mmv-home-body #page-header-bg .span_6 h1 b {
  font-family: "futura-pt",sans-serif !important;
  text-shadow:0px 2px 2px rgba(0, 0, 0, 0.51) !important;
  font-weight: 600 !important;
  font-size: 60px !important;
  color:#0eb5b9 !important;
  margin-top:-20px !important;
}

.mmv-home-body #page-header-bg .span_6 span.subheader {
  font-family: "freight-big-pro",serif !important;
  text-shadow:0px 2px 2px rgba(0, 0, 0, 0.51) !important;
  font-weight: 500 !important;
  text-transform: none !important;
  letter-spacing: 1px !important;
  font-size: 30px !important;
  line-height: 32px !important;
}

.page-header-overlay-color {
    background: rgba(0,0,0,0.5) !important;
}


/* MEDIA QUERY */


@media screen and (max-width: 1000px) {

  .mmv-home-body #page-header-bg .span_6 h1 {
    letter-spacing: 5px !important;
    font-size: 90px !important;
    line-height: 90px !important;
    font-weight: 700 !important;
  }

  .mmv-home-body #page-header-bg .span_6 h1 b {
    font-weight: 600 !important;
    font-size: 55px !important;
    color:#0eb5b9 !important;
    margin-top:-20px !important;
  }

  .mmv-home-body #page-header-bg .span_6 span.subheader {
    font-weight: 500 !important;
    letter-spacing: 1px !important;
    font-size: 30px !important;
    line-height: 32px !important;
  }

  .mmv-home-body #page-header-bg.fullscreen-header .span_6 span.subheader {
    font-weight: 500 !important;
    letter-spacing: 1px !important;
    font-size: 30px !important;
    line-height: 32px !important;
  }
}

@media screen and (max-width: 690px) {

.mmv-home-body #page-header-bg.fullscreen-header .span_6 h1 {
  font-size: 80px !important;
  line-height: 80px !important;
  }

  .mmv-home-body #page-header-bg.fullscreen-header .span_6 span.subheader {
    font-size: 28px !important;
    line-height: 30px !important;
  }
}

@media screen and (max-width: 576px) {

  .mmv-home-body #page-header-bg.fullscreen-header .span_6 h1 {
    font-size: 70px !important;
    line-height: 70px !important;
  }

  .mmv-home-body #page-header-bg.fullscreen-header .span_6 span.subheader {
    font-size: 25px !important;
    line-height: 27px !important;
  }
}


/********** MMV HOME ROW **********/


.mmv-home-row1 h4 {
  font-family: "freight-big-pro",serif !important;
  font-size: 70px !important;
  line-height: 76px !important;
  font-weight: 400 !important;
  text-transform: none !important;
}


/* MEDIA QUERY */


@media screen and (max-width: 1000px) {
  .mmv-home-row1 {
    padding-bottom:0px !important;
  }
}

@media screen and (max-width: 576px) {

  .mmv-home-row1 {
    padding-top:40px !important;
  }

  .mmv-home-row1 h4 {
    font-family: "freight-big-pro",serif !important;
    font-size: 60px !important;
    line-height: 66px !important;
    font-weight: 400 !important;
    text-transform: none !important;
  }
}


/********** MMV FIRST POST **********/


.mmv-first-post {
  visibility: visible !important;
  display: block !important;
}

.mmv-first-post h5 {
  font-family: "futura-pt",sans-serif !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 20px !important;
}

.mmv-first-post h4 {
  font-family: "freight-big-pro",serif !important;
  padding-left: 15px !important;
  padding-right: 5px !important;
  border-left: 5px solid #8a326c !important;
  font-weight: 700 !important;
}

.mmv-first-post p {
  padding-top:10px !important;
  font-family: "futura-pt",sans-serif !important;
  color:#000000 !important;
  font-size:19px !important;
  line-height: 35px !important;
}


/* ROW RIGHT*/


.mmv-first-post-right {
  border-right:40px solid #ffffff !important;
}

/*
.mmv-first-post-right::after {
   content: "" !important;
   position:absolute !important;
   width: 400px !important;
   height: 400px !important;
   background: rgba(138, 50, 108, 0.5) !important;
   z-index:999 !important;
   top:50% !important;
   left:50% !important;
   visibility: visible;
   -moz-border-radius: 200px !important;
   -webkit-border-radius: 200px !important;
   border-radius: 200px !important;
   margin-top:-200px !important;
   margin-left:-200px !important;
}*/


.mmv-first-post-right::after {
  content: "";
  position:absolute;
  margin-top:-200px;
  margin-left:-200px;
  top:50% !important;
  left:50% !important;
  visibility: visible;
  width: 400px;
  height: 400px;
  background: linear-gradient(to bottom, transparent 35%, #54b3b9 35%, #54b3b9 65%,  transparent 65%),
  linear-gradient(to right, transparent 35%, #54b3b9 35%, #54b3b9 65%, transparent 65%);
  opacity:0.7 !important;
  z-index:-1 !important;
}


/* ROW LEFT*/


.mmv-first-post-left {
  border-left:40px solid #ffffff !important;
}


/********** MMV SECOND POST **********/


.mmv-second-post {
  visibility: visible !important;
  display: block !important;
}

.mmv-second-post h5 {
  font-family: "futura-pt",sans-serif !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 20px !important;
}

.mmv-second-post h4 {
  font-family: "freight-big-pro",serif !important;
  padding-right: 15px !important;
  padding-left: 5px !important;
  border-right: 5px solid #8a326c !important;
  font-weight: 700 !important;
}

.mmv-second-post p {
  padding-top:10px !important;
  font-family: "futura-pt",sans-serif !important;
  color:#000000 !important;
  font-size:19px !important;
  line-height: 35px !important;
}


/* ROW LEFT*/


.mmv-second-post-left {
  border-left:40px solid #ffffff !important;
}

/*.mmv-second-post-left:after {
  content: "";
  position:absolute;
  margin-top:-200px;
  margin-left:-200px;
  top:50% !important;
  left:50% !important;
  visibility: visible;
  width: 400px;
  height: 400px;
  background: linear-gradient(to bottom, transparent 35%, #54b3b9 35%, #54b3b9 65%,  transparent 65%),
  linear-gradient(to right, transparent 35%, #54b3b9 35%, #54b3b9 65%, transparent 65%);
  opacity:0.7 !important;
  z-index:-1 !important;
}*/

.mmv-second-post-left::after {
   content: "" !important;
   position:absolute !important;
   width: 400px !important;
   height: 400px !important;
   background: rgba(138, 50, 108, 0.5) !important;
   z-index:999 !important;
   top:50% !important;
   left:50% !important;
   visibility: visible;
   -moz-border-radius: 200px !important;
   -webkit-border-radius: 200px !important;
   border-radius: 200px !important;
   margin-top:-200px !important;
   margin-left:-200px !important;
}


/* RIGHT LEFT*/


.mmv-second-post-right {
  border-right:40px solid #ffffff !important;
}

.mmv-first-post-1000 {
  visibility: hidden !important;
  display: none !important;
}

.mmv-first-post-divider-1000 {
  visibility: hidden !important;
  display: none !important;
}

.mmv-first-post-divider {
  visibility: visible !important;
  display: block !important;
}


/* MEDIA QUERY*/


@media screen and (max-width: 1001px) {

  .mmv-first-post-divider {
    visibility: hidden !important;
    display: none !important;
  }

  .mmv-first-post-divider-1000 {
    visibility: visible !important;
    display: block !important;
  }

  .mmv-first-post {
    visibility: hidden !important;
    display: none !important;
  }

  .mmv-second-post {
    visibility: hidden !important;
    display: none !important;
  }

  .mmv-first-post-1000 {
    visibility: visible !important;
    display:block !important;
    margin-top:-35px !important;
  }

 .mmv-first-post-1000 .nectar-button.large.see-through-2 {
    border-width: 4px!important;
    border-radius: 0px !important;
    border-color: #ffffff !important;
  }

  .mmv-first-post-1000 h5 {
    font-family: "futura-pt",sans-serif !important;
    font-weight: 700 !important;
    text-shadow:0px 2px 2px rgba(0, 0, 0, 0.51) !important;
    font-size: 14px !important;
    line-height: 20px !important;
  }

  .mmv-first-post-1000 h4 {
    font-family: "freight-big-pro",serif !important;
    padding-bottom:20px !important;
    font-weight: 700 !important;
    text-shadow:0px 2px 2px rgba(0, 0, 0, 0.51) !important;
    font-size:40px !important;
    line-height: 40px !important;
  }

  .mmv-first-post-1000 p {
    padding-top:10px !important;
    font-family: "futura-pt",sans-serif !important;
    color:#ffffff !important;
    text-shadow:0px 2px 2px rgba(0, 0, 0, 0.51) !important
  }

  .mmv-first-post-1000 .nectar-3d-transparent-button {
    padding-left:100px !important;
  }

  .mmv-first-post-left-1000 {
    border-right:20px solid #ffffff !important;
    border-left:20px solid #ffffff !important;
    border-bottom:20px solid #ffffff !important;
  }

  .mmv-first-post-right-1000 {
    border-right:20px solid #ffffff !important;
    border-left:20px solid #ffffff !important;
    border-bottom:20px solid #ffffff !important;
  }
}


@media screen and (max-width: 990px) {
  .mmv-first-post p {
    padding-top:10px !important;
    font-family: "futura-pt",sans-serif !important;
    color:#000000 !important;
    font-size:19px !important;
    line-height: 35px !important;
  }
}

@media screen and (max-width: 576px) {
  .mmv-first-post p {
    font-size:18px !important;
    line-height: 33px !important;
  }

  .mmv-first-post h4 {
    font-family: "freight-big-pro",serif !important;
    padding-left: 15px !important;
    padding-right: 5px !important;
    border-left: 5px solid #8a326c !important;
    font-weight: 700 !important;
    font-size: 35px !important;
    line-height: 45px !important;
  }
}


/******************************************************

******************** BLOG POST PAGE ***********************

*******************************************************/


/********** MMV HERO PICTURE **********/


.single #page-header-bg.fullscreen-header h1{
    text-transform: uppercase !important;
    font-family: "futura-pt", sans-serif !important;
    font-size: 60px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    letter-spacing: 6px !important;
    line-height: 68px !important;
    text-transform: none !important;
    text-shadow:0px 2px 2px rgba(0, 0, 0, 0.51) !important;
  }



/*  font-family: "freight-big-pro",serif !important;
  text-shadow:0px 2px 2px rgba(0, 0, 0, 0.51) !important;
  z-index:999 !important;
  text-transform: none !important;
  letter-spacing: 5px !important;
  font-size: 80px !important;
  line-height: 80px !important;
  font-weight: 700 !important;
}*/

#page-header-bg.fullscreen-header .author-section .meta-date i {
  font-size:16px !important;
}


/* MEDIA QUERY */


@media screen and (max-width: 1000px) {

  .single #page-header-bg.fullscreen-header h1 {
    letter-spacing: 5px !important;
    font-size: 70px !important;
    line-height: 70px !important;
    font-weight: 700 !important;
  }
}

@media screen and (max-width: 690px) {

.single #page-header-bg.fullscreen-header h1 {
  font-size: 60px !important;
  line-height: 60px !important;
  }
 #page-header-bg.fullscreen-header h1 {
    font-size: 60px !important;
    line-height: 60px !important;
  }
}

@media screen and (max-width: 576px) {

  .single #page-header-bg.fullscreen-header h1 {
    font-size: 55px !important;
    line-height: 55px !important;
  }
}


@media screen and (max-width: 479px) {

  .single #page-header-bg.fullscreen-header h1 {
    font-size: 50px !important;
    line-height: 50px !important;
    text-align: center !important;
  }
}

/*.single #page-header-bg.fullscreen-header h1::after {
   content: "" !important;
   position:absolute !important;
   width: 400px !important;
   height: 400px !important;
   background: rgba(138, 50, 108, 0.5) !important;
   index:-1 !important;
   top:50% !important;
   left:50% !important;
   visibility: visible;
   -moz-border-radius: 200px !important;
   -webkit-border-radius: 200px !important;
   border-radius: 200px !important;
   margin-top:-200px !important;
   margin-left:-200px !important;
}
*/

.blog-recent[data-style="classic_enhanced_alt"] .inner-wrap .post-meta {
  display:none !important;
}

.wpb_column[data-shadow="large_depth"] {
  box-shadow: none !important;
  padding-bottom:0 !important;
}

.masonry.classic_enhanced .masonry-blog-item .inner-wrap, .blog-recent[data-style*="classic_enhanced"] .inner-wrap {
  box-shadow: 0px 40px 100px rgba(0,0,0,0.15), 0 25px 80px rgba(0,0,0,0.1) !important
}

header#top nav > ul > li > a {
  font-family: "futura-pt",sans-serif !important;
  letter-spacing: 2px;
}

#page-header-bg.fullscreen-header .author-section a {
  font-family: "futura-pt",sans-serif !important;
}

#page-header-bg.fullscreen-header .author-section .meta-date i {
  font-family: "freight-big-pro",serif !important;
}

.single-post.ascend #single-below-header.fullscreen-header {
  display:none !important;
  visibility: hidden !important;
}

body[data-ext-responsive="true"].single-post .container-wrap.no-sidebar #post-area {
  border-bottom:1px #f2f2f2 solid !important;
}

.ascend #commentform .form-submit {
  margin-bottom:30px !important;
}

.mmvd-flowchart .mmvd-article-sidebar p,
.mmvd-flowchart .mmvd-article-sidebar h3,
.mmvd-flowchart .mmvd-article-sidebar strong {
  font-style: italic !important;
}

/*body h3, .row .col h3, .toggle h3 a, .ascend #respond h3 {
  font-family: "freight-big-pro",serif !important;
  text-transform: none !important;
  letter-spacing: 1px !important;
  font-weight: 400 !important;
  font-size: 50px !important;
  line-height: 56px !important;
}


@media screen and (max-width: 576px) {
  body h3, .row .col h3, .toggle h3 a, .ascend #respond h3 {
    font-family: "freight-big-pro",serif !important;
    text-transform: none !important;
    letter-spacing: 1px !important;
    font-weight: 400 !important;
    font-size: 40px !important;
    line-height: 46px !important;
  }
}
*/
/******************************************************

******************** ABOUT  PAGE ***********************

*******************************************************/


/********** MMV HERO PICTURE **********/


.mmv-about-body #page-header-bg .span_6 h1 {
  font-family: "freight-big-pro",serif !important;
  text-shadow:0px 2px 2px rgba(0, 0, 0, 0.51) !important;
  text-transform: none !important;
  letter-spacing: 5px !important;
  font-size: 80px !important;
  line-height: 80px !important;
  font-weight: 700 !important;
}

.mmv-about-body #page-header-bg .span_6 h1 b {
  font-family: "futura-pt",sans-serif !important;
  text-shadow:0px 2px 2px rgba(0, 0, 0, 0.51) !important;
  font-weight: 600 !important;
  font-size: 60px !important;
  color:#0eb5b9 !important;
  margin-top:-20px !important;
}

.mmv-about-body #page-header-bg .span_6 span.subheader {
  font-family: "freight-big-pro",serif !important;
  text-shadow:0px 2px 2px rgba(0, 0, 0, 0.51) !important;
  font-weight: 500 !important;
  text-transform: none !important;
  letter-spacing: 1px !important;
  font-size: 30px !important;
  line-height: 32px !important;
}

.mmv-about-body .page-header-overlay-color {
    background: rgba(0,0,0,0.2) !important;
}


/* MEDIA QUERY */


@media screen and (max-width: 1000px) {

  .mmv-about-body #page-header-bg .span_6 h1 {
    letter-spacing: 5px !important;
    font-size: 70px !important;
    line-height: 70px !important;
    font-weight: 700 !important;
  }

  .mmv-about-body #page-header-bg .span_6 h1 b {
    font-weight: 600 !important;
    font-size: 55px !important;
    color:#0eb5b9 !important;
    margin-top:-20px !important;
  }

  .mmv-about-body #page-header-bg .span_6 span.subheader {
    font-weight: 500 !important;
    letter-spacing: 1px !important;
    font-size: 30px !important;
    line-height: 32px !important;
  }

  .mmv-about-body #page-header-bg.fullscreen-header .span_6 span.subheader {
    font-weight: 500 !important;
    letter-spacing: 1px !important;
    font-size: 30px !important;
    line-height: 32px !important;
  }
}

@media screen and (max-width: 690px) {

.mmv-about-body #page-header-bg.fullscreen-header .span_6 h1 {
  font-size: 60px !important;
  line-height: 60px !important;
  }

  .mmv-about-body #page-header-bg.fullscreen-header .span_6 span.subheader {
    font-size: 28px !important;
    line-height: 30px !important;
  }
}

@media screen and (max-width: 576px) {

  .mmv-about-body #page-header-bg.fullscreen-header .span_6 h1 {
    font-size: 55px !important;
    line-height: 55px !important;
  }

  .mmv-about-body #page-header-bg.fullscreen-header .span_6 span.subheader {
    font-size: 25px !important;
    line-height: 27px !important;
  }
}


@media screen and (max-width: 479px) {

  .mmv-about-body #page-header-bg.fullscreen-header .span_6 h1 {
    font-size: 50px !important;
    line-height: 50px !important;
    text-align: center !important;
  }

  .mmv-about-body #page-header-bg span.wraped:nth-child(2) {
    text-align: center !important;
    margin-left:-10px !important;
  }

  .mmv-about-body #page-header-bg.fullscreen-header .span_6 span.subheader {
    font-size: 25px !important;
    line-height: 27px !important;
  }
}


/* FONT STYLE + PADDINGS */


.mmv-about h5 {
  font-family: "freight-big-pro",serif !important;
  text-shadow:0px 2px 2px rgba(0, 0, 0, 0.51) !important;
}

.mmv-about-row1 h2 {
  font-family: "freight-big-pro",serif !important;
  font-size: 70px !important;
  line-height: 76px !important;
  font-weight: 400 !important;
  text-transform: none !important;
}

@media screen and (max-width: 576px) {
  .mmv-about-row1 {
    padding-top:40px !important;
    padding-bottom:10px !important;
  }

  .mmv-about-row1 h2 {
    font-family: "freight-big-pro",serif !important;
    font-size: 60px !important;
    line-height: 66px !important;
    font-weight: 400 !important;
    text-transform: none !important;
  }
}

.purple-line {
  height: 5px !important;
  text-align: center !important;
  background-color: #8a326c !important;
  width: 100px !important;
  margin-top:30px !important;
  margin-bottom:35px !important;
}

/******************************************************

******************** STORY  PAGE ***********************

*******************************************************/


/********** MMV HERO PICTURE **********/


.mmv-story-body #page-header-bg .span_6 h1 {
  font-family: "freight-big-pro",serif !important;
  text-shadow:0px 2px 2px rgba(0, 0, 0, 0.51) !important;
  text-transform: none !important;
  letter-spacing: 5px !important;
  font-size: 80px !important;
  line-height: 80px !important;
  font-weight: 700 !important;
}

.mmv-story-body #page-header-bg .span_6 h1 b {
  font-family: "futura-pt",sans-serif !important;
  text-shadow:0px 2px 2px rgba(0, 0, 0, 0.51) !important;
  font-weight: 600 !important;
  font-size: 60px !important;
  color:#0eb5b9 !important;
  margin-top:-20px !important;
}

.mmv-story-body #page-header-bg .span_6 span.subheader {
  font-family: "freight-big-pro",serif !important;
  text-shadow:0px 2px 2px rgba(0, 0, 0, 0.51) !important;
  font-weight: 500 !important;
  text-transform: none !important;
  letter-spacing: 1px !important;
  font-size: 30px !important;
  line-height: 32px !important;
}

.page-header-overlay-color {
    background: rgba(0,0,0,0.5) !important;
}


/* MEDIA QUERY */


@media screen and (max-width: 1000px) {

  .mmv-story-body #page-header-bg .span_6 h1 {
    letter-spacing: 5px !important;
    font-size: 70px !important;
    line-height: 70px !important;
    font-weight: 700 !important;
  }

  .mmv-story-body #page-header-bg .span_6 h1 b {
    font-weight: 600 !important;
    font-size: 55px !important;
    color:#0eb5b9 !important;
    margin-top:-20px !important;
  }

  .mmv-story-body #page-header-bg .span_6 span.subheader {
    font-weight: 500 !important;
    letter-spacing: 1px !important;
    font-size: 30px !important;
    line-height: 32px !important;
  }

  .mmv-story-body #page-header-bg.fullscreen-header .span_6 span.subheader {
    font-weight: 500 !important;
    letter-spacing: 1px !important;
    font-size: 30px !important;
    line-height: 32px !important;
  }
}

@media screen and (max-width: 690px) {

.mmv-story-body #page-header-bg.fullscreen-header .span_6 h1 {
  font-size: 60px !important;
  line-height: 60px !important;
  }

  .mmv-story-body #page-header-bg.fullscreen-header .span_6 span.subheader {
    font-size: 28px !important;
    line-height: 30px !important;
  }
}

@media screen and (max-width: 576px) {

  .mmv-story-body #page-header-bg.fullscreen-header .span_6 h1 {
    font-size: 55px !important;
    line-height: 55px !important;
  }

  .mmv-story-body #page-header-bg.fullscreen-header .span_6 span.subheader {
    font-size: 25px !important;
    line-height: 27px !important;
  }
}


@media screen and (max-width: 479px) {

  .mmv-story-body #page-header-bg.fullscreen-header .span_6 h1 {
    font-size: 50px !important;
    line-height: 50px !important;
    text-align: center !important;
  }

  .mmv-story-body #page-header-bg span.wraped:nth-child(2) {
    text-align: center !important;
    margin-left:-10px !important;
  }

  .mmv-story-body #page-header-bg.fullscreen-header .span_6 span.subheader {
    font-size: 25px !important;
    line-height: 27px !important;
  }
}


/* MEDIA QUERY*/


@media screen and (max-width: 900px) {
  .mmv-story #post-area.masonry.classic_enhanced article.post.large_featured .post-featured-img::after {
     content: "" !important;
     position:absolute !important;
     width: 300px !important;
     height: 300px !important;
     background: rgba(138, 50, 108, 0.5) !important;
     z-index:999 !important;
     top:50% !important;
     left:50% !important;
     visibility: visible;
     -moz-border-radius: 150px !important;
     -webkit-border-radius: 150px !important;
     border-radius: 150px !important;
     margin-top:-150px !important;
     margin-left:-150px !important;
  }
}

@media screen and (max-width: 787px) {
  .mmv-story .masonry.classic_enhanced .masonry-blog-item.large_featured h3.title  {
    font-size: 35px !important;
    line-height: 41px !important;
  }
}

@media screen and (max-width: 690px) {
  .mmv-story .masonry.classic_enhanced .masonry-blog-item.post.large_featured .article-content-wrap {
    padding: 40px !important;
  }

  .mmv-story #post-area.masonry.classic_enhanced article.post::nth-child(4n + 1).large_featured .post-featured-img::after {
     content: "" !important;
     position:absolute !important;
     width: 200px !important;
     height: 200px !important;
     background: rgba(138, 50, 108, 0.5) !important;
     z-index:999 !important;
     top:50% !important;
     left:50% !important;
     visibility: visible;
     -moz-border-radius: 100px !important;
     -webkit-border-radius: 100px !important;
     border-radius: 100px !important;
     margin-top:-100px !important;
     margin-left:-100px !important;
  }
}



/******************************************************

******************** CONTACT  PAGE ***********************

*******************************************************/


/********** MMV HERO PICTURE **********/


/*.mmv-contact-body #page-header-bg .span_6 h1 {
  font-family: "freight-big-pro",serif !important;
  text-shadow:0px 2px 2px rgba(0, 0, 0, 0.51) !important;
  text-transform: none !important;
  letter-spacing: 5px !important;
  font-size: 80px !important;
  line-height: 80px !important;
  font-weight: 700 !important;
}

.mmv-contact-body #page-header-bg .span_6 h1 b {
  font-family: "futura-pt",sans-serif !important;
  text-shadow:0px 2px 2px rgba(0, 0, 0, 0.51) !important;
  font-weight: 600 !important;
  font-size: 60px !important;
  color:#0eb5b9 !important;
  margin-top:-20px !important;
}

.mmv-contact-body #page-header-bg .span_6 span.subheader {
  font-family: "freight-big-pro",serif !important;
  text-shadow:0px 2px 2px rgba(0, 0, 0, 0.51) !important;
  font-weight: 500 !important;
  text-transform: none !important;
  letter-spacing: 1px !important;
  font-size: 30px !important;
  line-height: 32px !important;
}

.page-header-overlay-color {
    background: rgba(0,0,0,0.5) !important;
}/*


/* MEDIA QUERY */


@media screen and (max-width: 1000px) {

  .mmv-contact-body #page-header-bg .span_6 h1 {
    letter-spacing: 5px !important;
    font-size: 70px !important;
    line-height: 70px !important;
    font-weight: 700 !important;
  }

  .mmv-contact-body #page-header-bg .span_6 h1 b {
    font-weight: 600 !important;
    font-size: 55px !important;
    color:#0eb5b9 !important;
    margin-top:-20px !important;
  }

  .mmv-contact-body #page-header-bg .span_6 span.subheader {
    font-weight: 500 !important;
    letter-spacing: 1px !important;
    font-size: 30px !important;
    line-height: 32px !important;
  }

  .mmv-contact-body #page-header-bg.fullscreen-header .span_6 span.subheader {
    font-weight: 500 !important;
    letter-spacing: 1px !important;
    font-size: 30px !important;
    line-height: 32px !important;
  }
}

@media screen and (max-width: 690px) {

.mmv-contact-body #page-header-bg.fullscreen-header .span_6 h1 {
  font-size: 60px !important;
  line-height: 60px !important;
  }

  .mmv-contact-body #page-header-bg.fullscreen-header .span_6 span.subheader {
    font-size: 28px !important;
    line-height: 30px !important;
  }
}

@media screen and (max-width: 576px) {

  .mmv-contact-body #page-header-bg.fullscreen-header .span_6 h1 {
    font-size: 55px !important;
    line-height: 55px !important;
  }

  .mmv-contact-body #page-header-bg.fullscreen-header .span_6 span.subheader {
    font-size: 25px !important;
    line-height: 27px !important;
  }
}


@media screen and (max-width: 479px) {

  .mmv-contact-body #page-header-bg.fullscreen-header .span_6 h1 {
    font-size: 50px !important;
    line-height: 50px !important;
    text-align: center !important;
  }

  .mmv-contact-body #page-header-bg span.wraped:nth-child(2) {
    text-align: center !important;
    margin-left:-10px !important;
  }

  .mmv-contact-body #page-header-bg.fullscreen-header .span_6 span.subheader {
    font-size: 25px !important;
    line-height: 27px !important;
  }
}


/* CONTACT FORM */


.mmv-contact {
  color:#000000 !important;
}

.mmv-contact h2 {
  font-family: "freight-big-pro",serif !important;
  padding-left: 15px !important;
  padding-right: 5px !important;
  font-weight: 700 !important;
}

.mmv-contact-right {
  background-position: top right !important;
}

.mmv-contact
